{{!< default}}
{{#post}}
{{#if feature_image}}
<div class="archive-cover global-cover global-bg-image" style="background-image: url({{feature_image}})"></div>
{{else if @site.cover_image}}
<div class="global-cover global-bg-image" style="background-image: url({{@site.cover_image}})"></div>
{{/if}}
<div class="membership-section global-section">
    <div class="global-wrap">
        <div class="membership-content">
            <h1 class="membership-title">{{title}}</h1>
            <h3 class="membership-subtitle">
            {{t "Unlock full access to {blog_title} and see the entire library of subscribers-only content & updates" blog_title=@site.title}}
            </h3>
            <span class="membership-heading global-heading">
                {{t "Choose your plan"}}
            </span>
        </div>
    </div>
</div>
{{/post}}
<div class="loop-section global-section">
    {{>members/tiers free_tier=true}}
    {{^if @member}}
    <div class="membership-footer">
        <small class="global-question">{{t "Already have an account?"}} <a href="{{@site.url}}/signin/">{{t "Sign in"}}</a></small>
    </div>
    {{/if}}
</div>