{{!< default}}
{{#tag}}
{{#if feature_image}}
<div class="archive-cover global-cover global-bg-image" style="background-image: url({{feature_image}})"></div>
{{else if @site.cover_image}}
<div class="global-cover global-bg-image" style="background-image: url({{@site.cover_image}})"></div>
{{/if}}
<div class="archive-section global-section">
	<div class="archive-wrap global-wrap">
		<div class="global-flex">
			<div class="archive-title-wrap global-flex">
				<div>
					<h1 class="archive-title">{{name}}</h1>
					{{#if description}}
					<p class="archive-description">{{description}}</p>
					{{/if}}
				</div>
			</div>
			<div class="archive-meta global-flex">
				<div class="archive-counter">
					<div>
						<span>{{../pagination.total}}</span>
						<small class="global-heading">
						{{plural ../pagination.total empty=(t "No posts") singular=(t "Post") plural=(t "Posts")}}
						</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/tag}}
{{>loop}}
{{pagination}}