{{#has visibility="paid"}}
<div class="members-cta">
	<h2 class="members-cta-text-color">{{t "This post is for paying subscribers only"}}</h2>
	{{#if @member}}
	<p class="members-cta-text-color">{{t "Upgrade your account to read the post and get access to the full library of posts for paying subscribers only."}}</p>
	<a href="javascript:" class="members-cta-button members-cta-text-color global-button" data-portal="account/plans">{{t "See plans"}}</a>
	{{else}}
	<p class="members-cta-text-color">{{t "Sign up now and upgrade your account to read the post and get access to the full library of posts for paying subscribers only."}}</p>
	<a class="members-cta-button global-button" href="{{@site.url}}/signup/">{{t "Sign up now"}}</a>
	<small class="members-cta-question members-cta-text-color global-question">{{t "Already have an account?"}} <a href="{{@site.url}}/signin/" class="members-cta-text-color">{{t "Sign in"}}</a></small>
	{{/if}}
</div>
{{else has visibility="tiers"}}
<div class="members-cta">
	<h2 class="members-cta-text-color">{{plural tiers.length empty=(t "No tiers") singular=(t "This post is for subscribers with the tier:") plural=(t "This post is for subscribers with any of the tiers:")}} {{tiers lastSeparator=(t "or") suffix=""}}</h2>
	{{#if @member}}
	<p class="members-cta-text-color">{{t "Upgrade your account to get access to the post."}}</p>
	<a href="javascript:" class="members-cta-button members-cta-text-color global-button" data-portal="account/plans">{{t "See plans"}}</a>
	{{else}}
	<p class="members-cta-text-color">{{t "Sign up now and upgrade your account to get access to the post."}}</p>
	<a class="members-cta-button global-button" href="{{@site.url}}/signup/">{{t "Sign up now"}}</a>
	<small class="members-cta-question members-cta-text-color global-question">{{t "Already have an account?"}} <a href="{{@site.url}}/signin/" class="members-cta-text-color">{{t "Sign in"}}</a></small>
	{{/if}}
</div>
{{else has visibility="members"}}
<div class="members-cta">
	<h2 class="members-cta-text-color">{{t "This post is for subscribers only"}}</h2>
	<p class="members-cta-text-color">
		{{t "Sign up now to read the post and get access to the full library of posts for subscribers only."}}
	</p>
	<a class="members-cta-button global-button" href="{{@site.url}}/signup/">{{t "Sign up now"}}</a>
	<small class="members-cta-question members-cta-text-color global-question">{{t "Already have an account?"}} <a href="{{@site.url}}/signin/" class="members-cta-text-color">{{t "Sign in"}}</a></small>
</div>
{{/has}}