{{^is "page"}}
{{^if @member}}
{{!-- <div class="subscribe-section">
	<div class="subscribe-wrap">
		<div class="subscribe-content{{^is "post"}} global-aos" data-aos="fade-up"{{else}}"{{/is}}>
			<form data-members-form="subscribe" class="subscribe-form">
				<h3 class="subscribe-title">{{t "Subscribe to see what we're thinking"}}</h3>
				<div class="subscribe-ityped">
					<span id="ityped"></span>
				</div>
				<input data-members-email class="subscribe-input global-input" type="email" placeholder="{{t "Your email address"}}" aria-label="{{t "Your email address"}}" required>
				<button class="subscribe-button global-button" type="submit">{{t "Subscribe"}}</button>
			</form>
			<p class="subscribe-alert subscribe-alert-loading">{{t "Processing your application"}}</p>
			<p class="subscribe-alert subscribe-alert-error">{{t "There was an error sending the email"}}</p>
			<div class="subscribe-success">
				<h3 class="subscribe-title">{{t "Great!"}}</h3>
				<p>{{t "Check your inbox and click the link to confirm your subscription"}}</p>
			</div>
		</div>
	</div>
</div> --}}
{{/if}}
{{/is}}